<% provide(:current_page, "Permissões e Funções") %>
<% provide(:current_page_version, "Editar Permissões") %>

<% content_for :left_side do %>
  <%= render 'left_side' %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Editar Permissão</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <%= form_for @permission do |f| %>
        <div class="box-body">

          <%= render 'fields', f: f, permission: @permission %>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-block">Atualizar</button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.box -->

  </div>
</div>
