<%= link_to opms_path do %>
  <div class="info-box">
    <span class="info-box-icon bg-green-active adaptable">
      <i class="fa fa-bank"></i>
    </span>
    <div class="info-box-content">
      <span class="info-box-text">OPM's</span>
      <span class="info-box-number">v1.0</span>
    </div>
  </div>
<% end %>
