<!-- Left side column app. contains the tools -->
<ul class="sidebar-menu">
  <li class="header">FUNCIONALIDADES</li>
  <li>
    <%= link_to triagems_path, :class => "aside-padding-left" do %>
        <i class="icon-side-left fa fa-home bg-green" style="width: 35px;"></i>
        <span>
          <ul class="control-sidebar-menu">
            <li>
              <div class="menu-info">
                  <h4 class="control-sidebar-subheading">Início</h4>
                  <p>Organização Policial Militar</p>
              </div>
            </li>
          </ul>
        </span>
    <% end %>
  </li>
  <li>
    <%= link_to triagems_path, :class => "aside-padding-left" do %>
        <i class="icon-side-left fa fa-list bg-blue" style="width: 35px;"></i>
        <span>
          <ul class="control-sidebar-menu">
            <li>
              <div class="menu-info">
                  <h4 class="control-sidebar-subheading">Consultar</h4>
                  <p>Consultar triagems existentes</p>
              </div>
            </li>
          </ul>
        </span>
    <% end %>
  </li>
  <li>
    <%= link_to new_triagem_path, :class => "aside-padding-left" do %>
      <i class="icon-side-left fa fa-plus bg-yellow" style="width: 35px;"></i>
      <span>
        <ul class="control-sidebar-menu">
          <li>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cadastrar</h4>
                <p>Cadastrar novos triagems</p>
            </div>
          </li>
        </ul>
      </span>
    <% end %>
  </li>
  <li class="header">SISTEMA</li>
  <li>
    <%= link_to destroy_user_session_path, method: :delete, :class => "aside-padding-left" do %>
      <i class="icon-side-left fa fa-sign-out bg-black" style="width: 35px;"></i>
      <span>
        <ul class="control-sidebar-menu">
          <li>
            <div class="menu-info">
                <h4 class="control-sidebar-subheading">Sair</h4>
                <p>Desconectar do Sistema</p>
            </div>
          </li>
        </ul>
      </span>
    <% end %>
  </li>
