<header class="main-header">

  <!-- Logo -->
  <%= link_to root_url, class: 'logo' do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b><img src="../../brasao_mdpi.png" alt="brasao PMPB"/></b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="../../brasao_mdpi.png" alt="brasao PMPB"/><b>PMPB </b>Apps</span>
  <% end %>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" data-toggle="control-sidebar">
            <i class="fa fa-question-circle aside-right-margim-right"></i>
            Suporte
          </a>
        </li>
      </ul>
    </div>

  </nav>
</header>
